<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body background="https://cdn.hipwallpaper.com/i/70/20/8Yf4xj.jpg">

<nav style="background-color: #cc0000;">
    <div class="nav-wrapper" style="padding-left: 25px;">
        <a href="#" class="brand-logo">Versus</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('welcome') }}">Home</a></li>
            <li><a href="{{ url_for('pick_senators') }}">Quiz</a></li>
            <li><a href="{{ url_for('history') }}">Past Matches</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>
</nav>

<p style="color: white; font-size: 55px;" align="center">Welcome {{ user['name'] }}</p>

<form method="get" action="{{ url_for('pick_senators') }}">
    <div style="text-align: center;">
        <button type="submit" class="waves-effect waves-light btn" style="background-color: #000000; color: #ffffff; ">
            TAKE VERSUS QUIZ
        </button>
    </div>
</form>

</body>
</html>