<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        function validateForm() {
            var choice1 = document.forms['select_senators']['senator_1'].value;
            var choice2 = document.forms['select_senators']['senator_2'].value;
            if (choice1 === choice2) {
                alert("Select 2 different senators");
                return false;
            }

            return true;
        }
    </script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <style>
        * {
            color: white;
        }

        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        p, h1, h3, h5 {
            text-align: center;
        }

        .centered {
            display: block;
            margin: 0 auto;
        }

    </style>
</head>
<body background="https://cdn.hipwallpaper.com/i/70/20/8Yf4xj.jpg">


<nav style="background-color: #cc0000;">
    <div class="nav-wrapper" style="padding-left: 25px;">
        <a href="#" class="brand-logo">Versus</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('welcome') }}">Home</a></li>
            <li><a href="{{ url_for('pick_senators') }}">Quiz</a></li>
            <li><a href="{{ url_for('history') }}">Past Matches</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>

<h3>Select Two Senators</h3>
<br>
<br>
<form name="select_senators" method="post" action="{{ url_for('start_quiz') }}" onsubmit="return validateForm()">

    <div class="input-field col s12 centered" style="width: 400px">

        <select name="senator_1">
            {% for name, id in senators.items() %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
        <label style="color: white; margin-left: -10px;">Senator 1</label>
    </div>

    <br>
    <br>

    <div class="input-field col s12 centered" style="width: 400px">
        <select name="senator_2">
            {% for name, id in senators.items() %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>
        <label style="color: white; margin-left: -10px;">Senator 2</label>
    </div>
    <br>
    <br>
    <input type="hidden" name="question_num" value="0">
    <input type="hidden" name="answers" value="">
    <div style="text-align: center;">
        <button type="submit" class="waves-effect waves-light btn" style="background-color: #000000; color: #ffffff; ">
            Take Quiz
        </button>
    </div>

</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });

</script>
</body>
</html>